body{background: #fbfff6;overflow-x: hidden;
    padding-top: 150px;}
p{width: 100%;}
#fakebg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background: linear-gradient(#4a8a1a,#b5e491,#438213);
}
.progress {
  height: 6px;
  width: 45%;
  background-color: #fcfeff;
  border-radius: 2px;
  margin: 0.5rem 0 1rem 0;
}
.progress .indeterminate { background-color: #e4ff00;}
header{
  margin-bottom: 10px;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  @media only screen and (min-width: $movil){
    box-shadow: 0px 1px 10px 0px #000;
  }
}
.lazy {display: none;}
/*CAPTCHA*/
.row .g-recaptcha{
}
.g-recaptcha{
  transform: scale(0.65);
  transform-origin: 0 0;
  @media only screen and (max-width: 1300px){
    transform: scale(.6);
  }
  @media only screen and (max-width: 1200px){
    transform: scale(.55);
  }
  @media only screen and (max-width: 1100px){
    transform: scale(.5);
  }
  @media only screen and (max-width: $tablet){
    transform: scale(.9);
  }
  @media only screen and (max-width: $movil){
    transform: scale(1) translate(23%);
  }
  @media only screen and (max-width: 500px){
    transform: scale(1) translate(19%);
  }
  @media only screen and (max-width: 450px){
    transform: scale(1) translate(14%);
  }
  @media only screen and (max-width: 425px){
    transform: scale(1) translate(10%);
  }
  @media only screen and (max-width: 400px){
    transform: scale(1) translate(0%);
  }
  @media only screen and (max-width: 350px){
    transform: scale(0.9) translate(0%);
  }
}
.section{padding-bottom: 0;margin-bottom: 0;}
.fixed{right: 0; left: 0; top: 0; }
.fixed.header{width: 100%;}

h3,h4{font-family: 'Roboto Slab', serif;}
.container{
  width: 98%;
}
nav.nav-logo{
  // background: linear-gradient(150deg,rgba(255, 255, 255, 0) 20%,#5fa42a 100%), linear-gradient(90deg,#5fa42a -15%,transparent 10%), white;
  background: $bodyBg;
  line-height: 3rem;
  @media only screen and (min-width: $web){
  }
  @media only screen and (max-width: $tablet) and (min-width: $movil){
    ul{
      display: flex;
      align-items: flex-end;
      // flex-direction: column;
    }
  }
  @media only screen and (max-width: $movil){
    ul{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: -10px;
    }
  }
}
img{
  width: 100%;
}
.logotipo{ width:220px;position:absolute;}
.iso{
  width:55px;right:0;position:absolute;
}
/*Columnas nuevas*/
@media only screen and (min-width: $web){
  .row .col.l80 {
      width: 82%;
      margin-left: auto;
      left: auto;
      right: auto;
  }
  .row .col.l20 {
    width: 18%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
}
/*botones*/
@function makelongshadow($color) {
  $val: 0px 0px $color;
  @for $i from 1 through 200 {
    $val: #{$val}, #{$i}px #{$i}px #{$color};
  }
  @return $val;
}

@mixin longshadow($color) {
  box-shadow: makelongshadow($color);
}

$color: rgba(97, 166, 45, 0.49);

.button-registro,.button-verde{
  line-height: 2.2;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 18px;
  margin-left: 10px;
}
.button-registro{
    background: linear-gradient(#e80000,#ffb6b6 33%,red 80%,#de2500);
    text-shadow: #6f0800 1px -1px 1px;
    color: #fbef00;
    border-radius: 10px;
    box-shadow: inset 0 1px 3px 0px #444444, inset 0px 1px 20px 0px #e80000, 2px 2px 0 0 #4e8622, 4px 4px 0 0 #4e8622, 6px 6px 0 0 #4e8622;
    border: solid 6px transparent;
    border-top: solid 3px transparent;
    border-bottom: solid 3px transparent;
    will-change: auto;
    transition: .1s all;
    top: 0;
    left: 0;

    &:active, &:hover{
      top: 6px;
      left: 6px;
      color: #191919;
      text-shadow: #fff 1px -1px 1px;
      box-shadow: inset 0px 0 2px 0px black, 2px 2px 0px 0px #4e8622;
    }
    @media only screen and (max-width: $movil) {
      position: absolute;
      width: 95px;
      margin-top: 20px;
      right: 14px;
      line-height: 1.375rem;
      top: -8px;
    }
}
.button-verde{
  // background: linear-gradient(#61a62c 5%,#9fc97f) #ffffff;
  // color: white;
  // @include longshadow(darken($color, 8% ));
  // text-shadow: 1px 1px 1px black;
  // // box-shadow: 3px 4px 0 0 #5fa529;
  // border: 1px solid #5fa529;
    background: linear-gradient(#ffaa00,#fffee1 ,#ffd200, #ffb500);
    border-radius: 10px;
    box-shadow: inset 0 1px 3px 0px #444444, inset 0px 1px 20px 0px #ffbd00, 2px 2px 0 0 #4e8622, 4px 4px 0 0 #4e8622, 6px 6px 0 0 #4e8622;
    border: solid 6px transparent;
    border-top: solid 3px transparent;
    border-bottom: solid 3px transparent;
    will-change: auto;
    transition: .1s all;
    // color: #df2804;
    color: rgb(233, 21, 21);
    top: 0;
    left: 0;
  &:active, &:hover{
    top: 6px;
    left: 6px;
    color: #191919;
    text-shadow: #fff 1px -1px 1px;
    box-shadow: inset 0px 0 2px 0px black, 2px 2px 0px 0px #4e8622;
  }
}
/*Menu movil*/
.side-nav{
  z-index: 1109;
}
/*galeria de imagenes*/
.galeria{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.g-20{margin-bottom: -10px;position: relative;overflow: hidden;
  @media only screen and (min-width: $web){
    width: 16.66666%;
  }
  @media only screen and (max-width: $tablet) and (min-width: $movil){
    width: 33.33333%;
  }
  @media only screen and (max-width: $movil){
    width: 50%;
  }
  .rubros {
    z-index: 1;
    position: absolute;
    width: 75%;
    left: 13%;
    top: 12%;
    transition: all 0.7s;
    will-change: transform;
  }
  .gota{
    position: relative;z-index: 0;
    border-radius: 0 0 10px 10px;
    will-change: transform;
    transition: all 0.7s;
  }
  .texto-rubro{
    position: absolute;font-weight: 500;font-size: 10px;color: black;width: 100%;text-align: center;bottom: 0;transition: all 0.7s;opacity:0;transform: translateY(-20px);
    will-change: transform;
    @media only screen and (min-width: $web){

    }
    @media only screen and (max-width: $tablet) and (min-width: $movil){
      font-size: 14px;
    }
    @media only screen and (max-width: $movil){

    }
    @media only screen and (min-width: $movil){

    }
  }
  &:hover{
    .gota{
      transform: rotateX(70deg) rotateY(1deg) translateY(0px);
    }
    .rubros{
      transform: scale(.91) translateY(-5px) rotateY(1turn);
    }
    .texto-rubro{
      opacity: 1;transform: translateY(-5px);
    }
  }
}
.g-40{
    margin-bottom: -10px;position: relative;overflow: hidden;
    height: 108px;
    @media only screen and (min-width: $web){
      width: 33.33333%;
    }
    @media only screen and (max-width: $tablet) and (min-width: $movil){
      width: 50%;
    }
    @media only screen and (max-width: $movil){
      width: 100%;
    }
    .rubros {
      z-index: 1;
      position: absolute;
      width: 75%;
      left: 12%;
      top: 5%;
      transition: all 0.7s;
    }
    .gota{
      position: relative;z-index: 0;
      border-radius: 0 0 10px 10px;
      transition: all 0.7s;
    }
    .texto-rubro{
      position: absolute;font-weight: 500;bottom: 10%;font-size: 20px;color: black;width: 100%;text-align: center;transition: all 0.7s;opacity:0;transform: translateY(-20px);
      @media only screen and (min-width: $web){

      }
      @media only screen and (max-width: $tablet) and (min-width: $movil){
        font-size: 24px;
      }
      @media only screen and (max-width: $movil){

      }
      @media only screen and (min-width: $movil){

      }
    }
    &:hover{
      .gota{
        transform: rotateX(70deg) rotateY(1deg) translateY(0px);
      }
      .rubros{
        transform: scale(.89) translateY(-15px) rotateY(1turn);
      }
      .texto-rubro{
        opacity: 1;transform: translateY(0);
      }
    }
}
/*Ventajas layout*/
.nuestras-guias{ margin-top: 140px;}
#ventajas{
  background: #5fa529 url(../images/viborita.png) repeat left top fixed;
  h3{
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    font-weight: 600;
    text-shadow: -1px 2px 4px #3a3a3a;
  }
}
.GDB{
  position: relative;
  background: white url(../images/guia-de-negocios.jpg) center no-repeat fixed;
  background-size: cover;
  h3{
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    font-weight: 600;
    text-shadow: -1px 2px 4px #3a3a3a;
  }
}
.ventajas-contenedor,.registro-contenedor{
  display: flex;
  flex-wrap: wrap;
}
.ventajas-contenedor{
  justify-content: space-around;
  width: 95%;
  margin: auto;
  img,h5,p{position: absolute;}
  .circulo{
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    bottom: -5px;
    left: -5px;
    background: #f8291f;
    border-radius: 50%;
    transition: all .5s;
    opacity: 0;
    will-change: transform;
  }
  img{
    width: 130px;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.4s;
  }
  h5{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.1em;
    margin: 0;
    transition: all 0.4s;
    position: absolute;
    text-align: center;
    top: 75%;
    width: 100%;
    will-change: transform;
    color: $textColor;
  }
  p{
    opacity: 0;
    line-height: 1.4;
    width: 60%;
    font-size: 15px;
    font-weight: 300;
    text-align: right;
    top: 20%;
    position: absolute;
    right: -30em;
    opacity: .85;
    transition: all 0.4s;
    will-change: transform;
  }
}
.registro-contenedor{
  width: 80%;
  margin: 4% auto 0;
  align-items: center;
  justify-content: space-around;
}
.form-container{
  padding: 15px 20px;
  background: white;
  border: 15px solid rgba(0, 0, 0, 0.3);
  background-clip: padding-box;
}
#registrese{
  @media only screen and (max-width: $tablet){
    padding-top: 20px;
  }
}
.guias-de-bolivia{
  @media only screen and (min-width: $web){
    width: 100%;
  }
  @media only screen and (max-width: $tablet) and (min-width: $movil){
    width: 100%;
  }
  @media only screen and (max-width: $movil){
    width: 100%;
  }
}
.g-50{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  p,ul{color: gold;}
  i{padding: 5px;}
  @media only screen and (min-width: $web){
    width: calc(50% - 70px);
  }
  @media only screen and (max-width: $tablet) and (min-width: $movil){
    width: calc(100% - 20px);
  }
  @media only screen and (max-width: $movil){
    width: calc(100% - 10px);
  }
}
.g-33{margin-bottom: 20px;position: relative;overflow: hidden;background: rgba(#ffffff, 0.89);transform: rotate(-1.5deg);border-radius: 3px;transition: all 0.4s;
      box-shadow: -2px 2px 7px #6d6d6d;
  &:hover{transform: rotate(0);
    .circulo{
      transform: scale(130);
      opacity: 1;
    }
    img{
      transform: scale(1.5) translateY(-22%) translateX(-30%);
      left: 0;
    }
    h5{
      font-weight: normal;
      top: 1em;
      right: 1em;
      width: auto;
      color: gold;
      text-align: right;
      margin-left: 20%;
    }
    p{
      color: #FFF;
      right: 1em;
    }
  }
  @media only screen and (min-width: $web){
    width: calc(33.333% - 30px);
    height: 220px;
  }
  @media only screen and (max-width: $tablet) and (min-width: $movil){
    width: calc(50% - 30px);
    height: 220px;
  }
  @media only screen and (max-width: $movil){
    width: calc(100% - 20px);
    height: 165px;
  }
  .rubros {
    z-index: 1;
    position: absolute;
    width: 75%;
    left: 12%;
    top: 20%;
    transition: all 0.7s;
  }
  .gota{
    position: relative;z-index: 0;
    border-radius: 0 0 10px 10px;
    transition: all 0.7s;
  }
  .texto-rubro{
    position: absolute;font-weight: 500;font-size: 10px;color: black;width: 100%;text-align: center;bottom: 0;transition: all 0.7s;opacity:0;transform: translateY(-20px);
    @media only screen and (min-width: $web){

    }
    @media only screen and (max-width: $tablet) and (min-width: $movil){
      font-size: 14px;
    }
    @media only screen and (max-width: $movil){

    }
    @media only screen and (min-width: $movil){

    }
  }
  &:hover{
    .gota{
      transform: rotateX(70deg) rotateY(1deg) translateY(0px);
    }
    .rubros{
      transform: scale(.89) translateY(-15px) rotateY(1turn);
    }
    .texto-rubro{
      opacity: 1;transform: translateY(0);
    }
  }
}

/*FOOTER*/
.barra {
  background: linear-gradient(#5fa529 12%,#9ac779 54%,#5fa529 96%);
  text-shadow: 1px 0px 1px #000;
  box-shadow: 0px 0px 20px 0px black;
  position: relative
}
ul.social_icons {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    li {
      display: inline-block;
      margin-right: 5px;
      margin-top: 11px;
      margin-bottom: 10px;
      a i {
          border-radius: 50%;
          color: #fff;
          height: 40px;
          line-height: 40px;
          font-size: 20px;
          padding: 0;
          text-align: center;
          width: 40px;
          opacity: .75;
          &:hover {
            transform: rotate(1turn);
            transition-duration: 2s;
            transition-property: all;
            transition-timing-function: ease;
            opacity: 1;
            transition: all .9s ease 0s;
        }
      }
    }
    .icon-facebook {
      background: linear-gradient(150deg,#89c3ff,#004ec7,#000 110%);
    }
    .icon-twitter {
      background: linear-gradient(150deg,#c9ecff,#00adff,#000);
    }
    .icon-youtube {
      background: linear-gradient(150deg,#ff8787,red,#3c0000);
    }
}
[class*=" icon-"]:before, [class^=icon-]:before, [data-icon]:before {
  line-height: 2.1;
}
.whatsapp {
  position: relative;
  padding-left: 35px;
  padding-top: 7px;
  padding-bottom: 7px;
  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url(../images/whatsapp.png);
  }
}
.ah{margin-top: 0;}
#ahpublicidad{
  color: white;
  opacity: 0.7;
  transition: all 0.5s;
  &:hover{
    color: #c80101;
    opacity: 1;
    text-shadow: 1px 1px 1px gold;
  }
}
.cross-center{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}
/*ANIMACIONES*/

.animBigSmall1 {
    animation: animBigSmall1 3.5s ease-in-out infinite;
    animation-fill-mode: both;
}
@keyframes animBigSmall1 {
  0% {
    transform: scale(1);
  }
  85% {
    transform: scale(1);
  }
  91% {
    transform: scale(1.04);
  }
  96% {
    transform: scale(.97);
  }
  100% {
    transform: scale(1);
  }
}
.animBigSmall2 {
    animation: animBigSmall2 3.5s ease-in-out infinite;
    animation-fill-mode: both;
}
@keyframes animBigSmall2 {
  0% {
    transform: scale(1);
  }
  3% {
    transform: scale(1.04);
  }
  9% {
    transform: scale(.97);
  }
  16% {
    transform: scale(1);
  }
  100% {
      transform: scale(1);
  }
}