//- section
  .container
    .row
      .col12.center
        p
          b LA PAZ:  
          | Miraflores Norte, Av. Tejada sorzano 955
          br
          | esq. Diego de peralta, Ed. Resolana, P. B.
          br
          b Telf: 
          span.red-text: b 2222385 - 2226579
          br
          b Cels: 
          span
            b 79691111 / 73721307
          br
          span.whatsapp: b 71566300
          br
          b info@ahpublic.com

footer
  .barra
    .container
      .row(style='margin-bottom: 0px;display: flex;flex-wrap: wrap;')
        .col.s12.l4.white-text.center-align.cross-center(style='font-size: 15px;margin-top: 15px;margin-bottom: 15px;')
          p
            | Todos los Derechos Reservados ® 
            strong(style='font-weight:700;display:inline-block;') Guías de Bolivia.
            span(style='display:inline-block;') © 2017.
          p.ah
            a#ahpublicidad(href='//ahpublic.com', target='_blank') Diseño y Programación Ah! Publicidad
        .col.s12.l5.white-text.center-align.cross-center(style='font-size: 15px;margin-top: 15px;margin-bottom: 15px;')
          p
            b LA PAZ:  
            | Miraflores Norte, Av. Tejada sorzano 955
            br
            | esq. Diego de peralta, Ed. Resolana, P. B.
            br
            b Telf: 
            span.red-text: b 2222385 - 2226579
            br
            b Cels: 
            span
              b 79691111 / 73721307
        .col.s12.l3.center-align.cross-center.white-text(style='font-size: 15px;margin-top: 15px;margin-bottom: 15px;')
          span.whatsapp: b 71566300
          br
          ul.social_icons
            li
              a(href='#')
                i.waves-effect.waves-light.icon-facebook
            li
              a(href='#')
                i.waves-effect.waves-light.icon-twitter
            li
              a(href='#')
                i.waves-effect.waves-light.icon-youtube
          br
          b info@ahpublic.com
script(src='js/bundle.js')
script(src='js/main.js')
