form#theForm2.contact-form.second(method='post', action='/registro2.php', role='form')
  .row
    .col.s12.m6.l12
      .form-group
        .input
          input.col.s12#nombre.form-control.validate(type='text', name='nombre', placeholder='Nombre completo', required='required')
      .form-group
        .input
          input.col.s12#movil.form-control.validate(type='number', name='movil', placeholder='Celular', required='required')
      .form-group
        .input
          input.col.s12#email.form-control.validate(placeholder='Correo electronico', type='email', name='email', required='required')
      .form-group
        .input
          input.col.s12#empresa.form-control.validate(type='text', name='empresa', placeholder='Empresa o institución', required='required')
      .form-group
        .input
          input.col.s12#telefono.form-control.validate(type='number', name='telefono', placeholder='Telefono oficina', required='required')
      .form-group
        .input
          input.col.s12#rubro.form-control.validate(type="text", name="rubro", placeholder="Rubro de trabajo(actividad)", required='required' )
      .form-group
        .input
          textarea#servicios.materialize-textarea.validate(style="margin-bottom: 3px;", cols='55', rows='7', name='servicios', placeholder="Servicios y/o Productos de su entidad", required)
    .col.s12.m6.l12 
      .form-group
        .input
          input.col.s12#pais.form-control.validate(type="text", name="pais", placeholder="Pais", required='required' )
      .form-group
        .input
          input.col.s12#ciudad.form-control.validate(type="text", name="ciudad", placeholder="Ciudad o localidad", required='required' ) 
      .form-group
        .input
          input.col.s12#direccion.form-control.validate(type="text", name="direccion", placeholder="Dirección completa", required='required' )
      .form-group
        .input
          textarea#comentarios.materialize-textarea.validate(style="margin-bottom: 3px;",cols='55', rows='7', name='Comentarios o mensaje', placeholder="  Comentarios")
      .form-group
        .g-recaptcha.col.s12(data-sitekey="6LeKM0cUAAAAAI_KtyjW_Bk5XWD-v6VBz6oVNVEu")
      .col.s12.form-group.center-align
        input.button--secondary.btn.submitbtn2(type='submit', value='Enviar')
        input.button--secondary.btn.deletebtn(type='reset', value='Borrar')
      .col.s12
        #statusMessage2(style='color: white;background: #2e8874; border-left: 7px solid #4e4e4e;')
