head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  meta(name='designer', content='Fernando Javier Averanga Aruquipa')
  meta(name='author', content='Ah! Publicidad')
  meta(name='description', content='El sistema de información digital de empresas, negocios, instituciones, profesionales, artistas, tecnicos de Bolivia, clasificados por rubros y actividades economicas. La forma mas facil de buscar Empresas en Bolivia')
  meta(name='keywords', content='')
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto+Slab")
  link(rel="stylesheet", href="css/materialize.min.css")  
  link(rel="stylesheet", href="css/style.css")
  script(src="https://www.google.com/recaptcha/api.js?hl=es")
    
  title GUIAS DE BOLIVIA | EL SISTEMA DE INFORMACIÓN DIGITAL DE EMPRESAS, INSTITUCIONES Y PROFESIONALES MÁS VISITADA Y COMPLETA DE BOLIVIA
