header#header.header.fixed
  nav.nav-logo
    .container.main
      a.brand-logo(href='#nuestras-guias') 
        img(src="images/logo/guias-de-bolivia.png", alt="Guias de Bolivia")
        //- .isotipo
        //-     img.iso.wow.animred(data-wow-duration="2.5s", data-wow-delay= "1s", src="images/logo/isotipo-01-100.png", alt="")
        //-     img.iso.wow.animyellow(data-wow-duration="2.5s", data-wow-delay= "1s", src="images/logo/isotipo-02-100.png", alt="")
        //-     img.iso.wow.animgreen(data-wow-duration="2.5s", data-wow-delay= "1s", src="images/logo/isotipo-03-100.png", alt="")
        //-     img.iso.wow.animiso1(data-wow-duration="2.5s", data-wow-delay= "1s", src="images/logo/isotipo-100.png", alt="")
        //- img.logotipo.animBigSmall1(src="images/logo/01-G-250.png", alt="Guías de Bolivia")
        //- img.logotipo.animBigSmall2(src="images/logo/02-U-250.png", alt="Guías de Bolivia")
        //- img.logotipo.animBigSmall1(src="images/logo/03-I-250.png", alt="Guías de Bolivia")
        //- img.logotipo.animBigSmall2(src="images/logo/04-A-250.png", alt="Guías de Bolivia")
        //- img.logotipo.animBigSmall1(src="images/logo/05-S-250.png", alt="Guías de Bolivia")
        //- img.logotipo.animBigSmall2(src="images/logo/06-D-250.png", alt="Guías de Bolivia")
        //- img.logotipo.animBigSmall1(src="images/logo/07-E-250.png", alt="Guías de Bolivia")
        //- img.logotipo.animBigSmall2(src="images/logo/08-B-250.png", alt="Guías de Bolivia")
        //- img.logotipo.animBigSmall1(src="images/logo/08-O-250.png", alt="Guías de Bolivia")
        //- img.logotipo.animBigSmall2(src="images/logo/09-L-250.png", alt="Guías de Bolivia")
        //- img.logotipo.animBigSmall1(src="images/logo/10-I-250.png", alt="Guías de Bolivia")
        //- img.logotipo.animBigSmall2(src="images/logo/11-V-250.png", alt="Guías de Bolivia")
        //- img.logotipo.animBigSmall1(src="images/logo/12-I-250.png", alt="Guías de Bolivia")
        //- img.logotipo.animBigSmall2(style="position:relative;" src="images/logo/13-A-250.png", alt="Guías de Bolivia")
         
      ul.right.main__menu
        li: a.button--menu.waves-effect.waves-red.hide-on-med-and-down(href='#nuestras-guias') Nuestras Guías
        li: a.button--menu.waves-effect.waves-yellow(href='#registrese') Registro Gratuito
        li: a.button--menu.waves-effect.waves-green.hide-on-small-only(href='#ventajas') Ventajas
      .slogan 
        h4.ribbon-level: div
          span.ribbon-level__span1 EL SISTEMA DE INFORMACIÓN DIGITAL DE EMPRESAS, INSTITUCIONES Y PROFESIONALES MÁS VISITADA Y COMPLETA DE BOLIVIA
          span.ribbon-level__span2 EL SISTEMA DE INFORMACIÓN DIGITAL DE EMPRESAS, INSTITUCIONES Y PROFESIONALES MÁS VISITADA Y COMPLETA DE BOLIVIA
          span.ribbon-level__span3 EL SISTEMA DE INFORMACIÓN DIGITAL DE EMPRESAS, INSTITUCIONES Y PROFESIONALES MÁS VISITADA Y COMPLETA DE BOLIVIA
          span.ribbon-level__span4 EL SISTEMA DE INFORMACIÓN DIGITAL DE EMPRESAS, INSTITUCIONES Y PROFESIONALES MÁS VISITADA Y COMPLETA DE BOLIVIA
        //- <h2 class="ribbon-level"><div><span class="ribbon-level__span1">INSTALACIONES TERMOMECÁNICAS</span><span class="ribbon-level__span2">INSTALACIONES TERMOMECÁNICAS</span><span class="ribbon-level__span3">INSTALACIONES TERMOMECÁNICAS</span><span class="ribbon-level__span4">INSTALACIONES TERMOMECÁNICAS</span></div></h2>
        //- h4.slogan EL SISTEMA DE INFORMACIÓN DIGITAL DE EMPRESAS, INSTITUCIONES Y PROFESIONALES MÁS VISITADA Y COMPLETA DE BOLIVIA
      //- ul.side-nav#mobile-demo
      //-   li: a(href="") Nuestras guías
      //-   li: a(href="") Regístrese
      //-   li: a(href="") 
            
      //- a.right(href="http://", target="_blank" data-activates="mobile-demo" class="button-collapse") MENÚ
      //-   i.material-icons.left menu
