// Basic buttons
.button,
[class*="button--"]{
  @include button-secondary;
  &.center       { @include button-center }
  &.full         { @include button-full }
  &.button--small { @include button-small }
}
// Buttons variations
.button--secondary { @include button-secondary }
.button--tertiary  { @include button-tertiary }
.button--accent       { @include button-cta }
.button--dark      { @include button-dark }

// Ghost buttons
[class*="button--ghost"]  { @include button-ghost }
.button--ghost--secondary { @include button-ghost-secondary }
.button--ghost--tertiary  { @include button-ghost-tertiary }
.button--ghost--accent    { @include button-ghost-cta }
.button--ghost--dark      { @include button-ghost-dark }

// Show buttons in style guide
.show-buttons {
  .button, [class*="button--"] {
    margin-bottom : 2rem;
  }

  + h2 {
    margin-top : 1rem;
  }
}
.button--menu{
  background: linear-gradient($firstColor,$firstColorAlt ,$firstColor, $firstColor);
  color: $darkColor;
  border-radius: 10px;
  box-shadow: inset 0 1px 3px 0px #444444, inset 0px 1px 20px 0px $firstColorAlt, 2px 2px 0 0 $firstColor, 4px 4px 0 0 $firstColor, 6px 6px 0 0 $firstColor;
  box-shadow: inset 0 1px 2px 0 #444, inset 0 1px 20px 0 $firstColorAlt, 1px 1px 0 0 $firstColor, 3px 3px 0 0 $firstColor, 4px 4px 0 0 $firstColor;
  border: solid 6px transparent;
  border-top: solid 3px transparent;
  border-bottom: solid 3px transparent;
  will-change: auto;
  transition: .1s all;
  top: 0;
  left: 0;
  &:active, &:hover{
    background: transparentize($secondColorAlt, 0.5);
    top: 2px;
    left: 2px;
    color: #191919;
    text-shadow: #fff 1px -1px 1px;
    box-shadow: inset 0px 0 2px 0px black, 2px 2px 0px 0px $firstColor;
    text-decoration: none;
  }
}
