/*Formulario de Registro*/
.h4-form{
    text-align: center;
    color: #f21913;
    border-radius: 10px 10px 0 0;
    margin: 0 -10px;
    padding: 3px;
    font-size: 25px;
}
textarea{
  font-family: $body-font;
}
.col.form-control{padding: 0px 10px;height: 35px;}

::-webkit-input-placeholder {
  color: rgb(182, 182, 182);
}
:-ms-input-placeholder {
  color: rgb(182, 182, 182);
}
::-moz-placeholder {
  color: rgb(182, 182, 182);
}
:-moz-placeholder {
  color: rgb(182, 182, 182);
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input[type=number] {-moz-appearance:textfield;}

input:not([type]), input[type=date]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=email]:not(.browser-default), input[type=number]:not(.browser-default), input[type=password]:not(.browser-default), input[type=search]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=text]:not(.browser-default), input[type=time]:not(.browser-default), input[type=url]:not(.browser-default), textarea.materialize-textarea {
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 0px #1f4600;height: 1.3rem;border: 1.3px solid #279a00;margin: 0 0 5px;border-radius: 6px;background: #f0ffd7;line-height: 1;
  padding: 13px 10px;
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    border-bottom:1px solid #504896;
}
input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
.input-field label:not(.label-icon).active {
  color: #fe4f00;top:0;font-size: 1rem;}
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #fe4f00;background:white; color:black;box-shadow: 0 1px 0 0 #fe4f00;transition: all 0.3s linear;}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    height: 1.3rem;
}

.btn{ padding: 0 6px;}
#statusMessage{background: #73c629;border-left: solid 7px #0d47a1;}