.slide{}
.slide--top{position:absolute;
  nav.nav-logo{
    @media only screen and (min-width: $movil){
      height: 135px;
      padding: 10px
    }
  }
}
.slide--reset{}
.slide--up{
  nav.menu-principal,nav .brand-logo,nav.menu-inicio ul{}
  nav.menu-principal{transform:translateY(-100%);}
  nav .brand-logo{}
  nav.menu-inicio ul{transform: translateX(-100%);}
}
.slide--notop{
  position: fixed;z-index:3;
  nav{
    height: 75px;
  }
  // nav .brand-logo{transition:all .40s ease-in-out;transform: scale(.5) translateY(-50px) translateX(-40%);left: 0;}
  @media only screen and (max-width: 992px) and (min-width: 100px){
    nav.menu-principal{margin-top:-15px;}
  }
  .slogan{
    transform: scaleY(0);
  }
}