$blue: $bodyBg;
$yellow: $secondColorAlt;
$white: white;
$silver: silver;
@mixin ribbonize-level($text-color: $blue, $bg-color: $yellow, $darker-bg: null, $darkest-bg: null ) {
  @if ($darker-bg == null) {
    $darker-bg : darken($bg-color, 15);
  }
  @if ($darkest-bg == null) {
    $darkest-bg : darken($bg-color, 40);
  }

  position: relative;
  margin: 0;
  line-height: 1.7em;
  text-align: center;
  color: $text-color;

  &:after,
  &:before{
    content: ' ';
    display:block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: -.6em;
    width: 0;
    height: 0;
    margin-top: -.7em;
    border: .7em solid $darker-bg;
    border-right: .3em solid transparent;
    border-left-width: .7em;
  }

  &:before{
    left: -.6em;
    border-left: .3em solid transparent;
    border-right: .7em solid $darker-bg;
  }

  div{
    position: relative;
    z-index: 5;
    background: linear-gradient(lighten($bg-color, 15), darken($bg-color,10));
  }
}
.ribbon-level{
  width: 100%;
  @include ribbonize-level();
  margin-top: 0.95rem;
  & > div{
    width: 100%;
    height: 32px;
    overflow: hidden;
  }
  &__span1, &__span2, &__span3, &__span4{
    position: absolute;
    top: 15px;
    right: 0;
    width: 1280px;
    opacity: 1;
    animation: banner1 48s infinite;
  }
  &__span1{
    transform: translateX(100%) translateY(-50%);
  }
  &__span2{
    transform: translateX(100%) translateY(-50%);
    animation-delay: 12s;
  }
  &__span3{
    transform: translateX(100%) translateY(-50%);
    animation-delay: 24s;
  }
  &__span4{
    transform: translateX(100%) translateY(-50%);
    animation-delay: 36s;
  }
}
@keyframes banner1{
  from {
    transform: translateX(100%) translateY(-50%);
    opacity: 1;
  }
  95%{
    opacity: 1;
  }
  to {
    transform: translateX(-160%) translateY(-50%);
    opacity: 0;
  }
}
.slogan{
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: .5s transform;
  transform-origin: bottom;
}