// Settings for EDgrid
$dev        : false;
$cssCore    : false;
$cssHelpers : false;
$container : gb-container;
$item      : gb-item;
$max-width : 1250px;
$gutter     : 1rem;
$breakpoints : (
  s  : 0,
  m  : 601px,
  l  : 992px,
  xl  : 1024px,
);

/*ViewPort segun resolución*/
$web: 993px;
$tablet: 992px;
$movil: 601px;

// Colors
$firstColor     : #c9c9c9;
$firstColorAlt  : #ececec;
$secondColor    : #3b962f;
$secondColorAlt : #4CA441;
$thirdColor     : #FF3C32;
$thirdColorAlt  : #FF2419;
$accentColor    : #e0cc18;
$accentColorAlt : #FFED4C;
$darkColor      : #282D31;


// Complementary colors:
$borderColor : #DFE0E0;
$textColor   : #53575A;
$bodyBg      : #FAFDFF;

// z-ndex
$z-back    : -10;
$z-normal  : 1;
$z-tooltip : 10;
$z-fixed   : 100;
$z-modal   : 1000;