//- mixins
include blocks/mixins.pug
//- mixins-end

<!DOCTYPE html>
html(lang="es")
  include blocks/head.pug
  body#nuestras-guias.section
    #fakebg
      img(style="width:150px;position:fixed;padding-bottom:120px;",src="images/logo/guias-de-bolivia.png", alt="Guias de Bolivia")
      //- p.animated.infinite.flash(style="position: fixed;    text-align: center;    font-size: 29px;    display: block;    width: 100%;    top: 37%;    overflow: hidden;") CARGANDO
      .progress
        .inner
        .indeterminate
    include blocks/header.pug
    section.container.nuestras-guias
      .row
        .col.s12.m12.l80.galeria
          +rubro('agropecuaria', 'Empresas y negocios Agropecuaria, agricultura y pecuaria en Bolivia', 0.0)
          +rubro('artesania', 'Empresas y negocios Artesanía y microempresa en Bolivia', 0.05)
          +rubro('automotores', 'Empresas y negocios de automotores y autopartes en Bolivia', 0.1)
          +rubro('comercio', 'Empresas y negocios de comercio, importación y exportación en Bolivia', 0.15)
          +rubro('computacion', 'Empresas y negocios computación, y tecnología en Bolivia', 0.2)
          +rubro('comunicacion', 'Empresas y negocios de Medios de comunicación en Bolivia', 0.25)
          +rubro('construccion', 'Empresas y negocios de Construcción e Instalaciones en Bolivia', 0.3)
          +rubro('decoracion', 'Empresas y negocios en Decoración, muebles y equipamiento en Bolivia', 0.35)
          +rubro('deportes', 'Empresas y negocios en Deportes y recreación en Bolivia', 0.4)
          +rubro('educacion', 'Empresas y negocios de Educación, cultura y ciencia en Bolivia', 0.45)
          +rubro('electronica', 'Empresas y negocios de Electrónica y electromecánica en Bolivia', 0.5)
          +rubro('energia', 'Empresas y negocios de Energia y electricidad en Bolivia', 0.55)
          +rubro('entretenimiento', 'Empresas y negocios de Entretenimiento y diversión en Bolivia', 0.6)
          +rubro('finanzas', 'Empresas y negocios de finanzas, bancos valores y seguros', 0.65)
          +rubro('gastronomia', 'Empresas y negocios de gastronomia y reposteria en Bolivia', 0.7)
          +rubro('hidrocarburos', 'Empresas y negocios de Hidrocarburos y Gas en Bolivia', 0.75)
          +rubro('hoteleria', 'Empresas y negocios de Hoteleria y hospedaje en Bolivia', 0.8)
          +rubro('industria', 'Entidades de industria, agroindustria y pequeña industria en Bolivia', 0.85)
          +rubro('instituciones', 'Instituciones, entidades y organismos en Bolivia', 0.9)
          +rubro('mineria', 'Empresas y negocios de Mineria y Metalurgia en Bolivia', 0.95)
          +rubro('publicidad', 'Empresas y negocios de Publicidad, Marketing e impresión', 1.0)
          +rubro('salud', 'Empresas y negocios y entididades de Salud en Bolivia', 1.05)
          +rubro('servicios', 'Empresas y negocios de Servicios Generales en Bolivia', 1.1)
          +rubro('telecomunicaciones', 'Empresas y negocios de telecomunicaciones en Bolivia', 1.15)
          +rubro('transportes', 'Empresas y negocios de trasporte en Bolivia', 1.2)
          +rubro('turismo', 'Empresas y negocios de turismo en Bolivia', 1.25)
          a.wow.rubberBand.g-40(href="http://gnb.com.bo/", target="_blanck",data-wow-duration="2s", data-wow-delay= "1.3s")
            //- h2.texto-rubro Guía de Negocios Bolivia
            img.rubros.lazy(data-original="images/gnb.png", alt="Guía de negocios Bolivia")
            //- img.gota(src="images/gota.svg")
          a.wow.rubberBand.g-40(href="http://www.amarillas-bolivia.com/", target="_blanck",data-wow-duration="2s", data-wow-delay= "1.35s")
            //- h2.texto-rubro Amarillas de Bolivia
            img.rubros.lazy(data-original="images/amarillas.png", alt="Amarillas de Bolivia")
            //- img.gota(src="images/gota.svg")
        .section.col.s12.m12.l20.wow.fadeInRight(style='border-radius: 10px;margin-bottom: 8px;')
          h4.h4-form Regístro gratuito
          .status.alert.alert-success(style='display: none; text-align: center;')
          include blocks/formulario.pug
    section#ventajas.section
      .container
        .row
          .col.offset-l2.offset-m1.l8.m10.s12
            br        
            h3.center-align.wow.fadeInDown Ventajas de unirse a Guias de Bolivia
            p.center-align.wow.fadeInDown Cada vez son más las empresas que deciden anunciar sus productos o servicios en Internet porque sus potenciales clientes se encuentran buscandolos en Internet por eso tu empresa debe estar presente.
        .ventajas-contenedor
          .g-33.wow.rotateInDownLeft
            .circulo
            img.lazy(data-original="images/ventajas/cobertura-global.png", alt="Cobertura Global - Guias de Bolivia")
            h5 Cobertura Global
            p La información de tu empresa disponible y accesible para cuaquilquier parte del mundo las 24 horas los 365 dias del año.
          .g-33.wow.rotateIn
            .circulo
            img.lazy(data-original="images/ventajas/contacto-directo.png", alt="Contacto Directo - Guias de Bolivia")
            h5 Contacto Directo
            p Mediante el formulario de contacto en su ficha de informaciòn recibe consultas y pedidos de sus potenciales clientes.
          .g-33.wow.rotateInDownRight
            .circulo
            img.lazy(data-original="images/ventajas/publicidad-a-medida.png", alt="Publicidad a Medida - Guias de Bolivia")
            h5 Publicidad a Medida
            p Seleccionara el paquete de publicidad que responda a sus necesidades y requerimientos con planes personalizados.
          .g-33.wow.rotateInDownLeft
            .circulo
            img.lazy(data-original="images/ventajas/visibilidad-de-canales-digitales.png", alt="Visibilidad de Canales Digitales - Guias de Bolivia")
            h5 Visibilidad de Canales Digitales
            p Mejor visibilidad de sus canales de contacto como su sitio web, sus redes sociales e incluso la ubicación de su empresa.
          .g-33.wow.rotateIn
            .circulo
            img.lazy(data-original="images/ventajas/posicionamiento-digital.png", alt="Posicionamiento Digital - Guias de Bolivia")
            h5 Posicionamiento Digital
            p Registrándose en nuestras guias comenzará a posicionar su empresa en los buscadores más importantes del mundo.
          .g-33.wow.rotateInDownRight    
            .circulo
            img.lazy(data-original="images/ventajas/actualizaciones-inmediatas.png", alt="Actualizaciones Inmediatas - Guias de Bolivia")
            h5 Actualizaciones Inmediatas
            p La información de su empresa actualizada con sólo contactarse con un asesor ya sea por correo, llamada o cualquier medio disponible.
        br
        br
        br
    section.section.GDB#registrese
      .container
        .row
          h3.center-align.wow.fadeInDown(style="visibility: visible; animation-name: r;") Registro gratuito
          .registro-contenedor
            .g-50
              include blocks/formulario2.pug
            .g-50
              //- h1 Guias de Negocios de Bolivia
              .col.offset-s1.s6.m3.l4
                img.guias-de-bolivia.wow.rotateIn.lazy(data-original="images/logo/guias-de-bolivia.png", alt="Guias de Bolivia")
              .col.s12.m9.l8    
                p.wow.fadeInDown El directorio de empresas por rubros clasificados más completo de Bolivia:
              // List-services
              ul.list-services
                li.wow.fadeInRight
                  i.fa.fa-check
                  | Registrese gratuitamente es rápido y fácil.
                li.wow.fadeInRight
                  i.fa.fa-check
                  | Mejore el posicionamiento de su empresa en internet.
                li.wow.fadeInRight
                  i.fa.fa-check
                  | Reciba cientos de visitas diarias.
                li.wow.fadeInRight
                  i.fa.fa-check
                  | Mantenga disponible la información de su empresa las 24hs.
                li.wow.fadeInRight
                  i.fa.fa-check
                  | Acceda a paquetes publicitarios flexibles acorde a sus necesidades.
                li.wow.fadeInRight
                  i.fa.fa-check
                  | Solicite actualizaciones de la información de su empresa.
            //-.g-50.form-container.wow.rollIn
              h4.h4-form Registrese
              .status.alert.alert-success(style='display: none; text-align: center;')
              form#theForm.contact-form.second(method='post', action='./registro.php', role='form')
                include blocks/formulario.pug
      br
      br
    include blocks/footer.pug
